<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="main-page">
    <p>Welcome to <span class="main-page-text-small"><%= title %></span></p>
    <p class="main-page-text hithere" align="center"><a id="main-link" href="./stronkr" ><%= title %></a>
      <div class="slogan" align="center">HardR BettR FastR</div>
    </p>
  </body>
</html>
